[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
llama-index-llms-ollama = "*"
llama-index-embeddings-huggingface = "*"
llama-index-readers-file = "*"
llama-index-readers-web = "*"
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
